<!DOCTYPE html>
<html>
<head>

  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"></script>
</head>

<body>
  <header></header>
  <main>
    <section class="nav-menu">
      <a href="./main"><div>Каталог</div></a>
      <a href="./basket"><div>Корзина</div></a>
    </section>
    <section class="content">
      <div class="orderList"></div>
    </section>
  </main>
  <footer></footer>
</body>
<script src="./javascripts/basket.js"></script>

</html>